/* ===================================================== */
/* CONFIGURACIÓN GENERAL                                 */
/* ===================================================== */

body{

    margin: 0;

    padding: 0;

    background-color: #F5F5F5;

}



/* ===================================================== */
/* MENU                                                   */
/* ===================================================== */

.iframe-menu{

    width: 100%;

    height: 90px;

    border: none;

    position: fixed;

    top: 0;

    left: 0;

    z-index: 3000;

}



/* ===================================================== */
/* CONTENIDO PRINCIPAL                                   */
/* ===================================================== */

.contenido-principal{

    /*
        Espacio para el menú fijo
    */

    padding-top: 90px;

}



/* ===================================================== */
/* APARTADO PRODUCTOS                                    */
/* ===================================================== */

#apartado-productos{

    width: 100%;

}



/* ===================================================== */
/* PRODUCTOS                                              */
/* ===================================================== */

#productos{

    width: 100%;

}

/* ===================================================== */
/* MENSAJE FLOTANTE                                      */
/* ===================================================== */

#popup-bienvenida{

    position: fixed;

    bottom: 20px;

    right: 20px;

    z-index: 99999;

}



/* ===================================================== */
/* IMAGEN MENSAJE                                        */
/* ===================================================== */

#imagen-popup{

    width: 500px;

    cursor: pointer;

    display: block;

}

/* ===================================================== */
/* RESPONSIVE CELULAR                                    */
/* ===================================================== */

@media (max-width: 768px){

    /* ===================================================== */
    /* POPUP                                                 */
    /* ===================================================== */

    #popup-bienvenida{

        bottom: 15px;

        right: 10px;

    }

    /* ===================================================== */
    /* IMAGEN MASCOTA                                        */
    /* ===================================================== */

    #imagen-popup{

        width: 800px;

    }

}
